 
  
 <h4 class="centerText" *ngIf="room?.id == null">
   Room not found!
 </h4>
 

 <div *ngIf="room?.id != null" class="container" id="main-container">
      <h4 class="centerText"><b>{{room.name}}</b></h4>
      <div class="centerText">Room: {{room.id}}</div>
      <h4>Randomize Teams</h4>
   <div>
      <a (click)="randomizeParticipantTeams()" class="btn btn-primary" data-placement="top" data-original-title="Randomize">Randomize Teams</a>
   </div>

   <div class ="row"> 
      <div class="col-6" *ngIf="priorityParticipants.length !=0">
         <h4 class="centerText">Priority Participants</h4>
         <div class = "row">
            <div class="col-12">
               <table class = " table table-striped ">
                  <thead class="thead-dark">
                  <tr>
                     <th scope="col">Name</th>
                     <th scope="col">Date Joined</th>
                     <th scope="col">Team 1</th>
                     <th scope="col">Team 2</th>
                  </tr>
                  </thead>
                  <tbody>
                     <tr  *ngFor="let participant of priorityParticipants" class="col-md-12 col-xl-6">
                        <td>{{participant?.name}}</td>
                        <td>{{getParticipantDateFormatted(participant?.created)}}</td>
                        <td><a (click)="moveToTeam1(participant)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Team1"><i class="fa fa-arrow-left"></i> </a></td>
                        <td> <a (click)="moveToTeam2(participant)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Team2"><i class="fa fa-arrow-right"></i></a></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <div class="col-6" *ngIf="nonPriorityParticipants.length !=0">
         <h4 class="centerText">Non Priority Participants</h4>
         <div class = "row">
            <div class="col-12">
               <table class = " table table-striped ">
                  <thead class="thead-dark">
                  <tr>
                     <th scope="col">Name</th>
                     <th scope="col">Date Joined</th>
                     <th scope="col">Team 1</th>
                     <th scope="col">Team 2</th>
                  </tr>
                  </thead>
                  <tbody>
                     <tr  *ngFor="let participant of nonPriorityParticipants" class="col-md-12 col-xl-6">
                        <td>{{participant?.name}}</td>
                        <td>{{getParticipantDateFormatted(participant?.created)}}</td>
                        <td><a (click)="moveToTeam1(participant)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Team1"><i class="fa fa-arrow-left"></i> </a></td>
                        <td> <a (click)="moveToTeam2(participant)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Team2"><i class="fa fa-arrow-right"></i></a></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
 

   <div class ="row"> 
      <div class="col-6">
         <h4 class="centerText">Team 1</h4>
         <div class = "row">
            <div class="col-12">
               <table class = "table table-striped ">
                  <thead class="thead-dark">
                  <tr>
                     <th scope="col">Name</th>
                     <th scope="col">Date Joined</th>
                     <th scope="col">Change</th>
                     <th scope="col">Reset</th>
                  </tr>
                  </thead>
                  <tbody>
                     <tr  *ngFor="let participant of team1Participants" class="col-md-12 col-xl-6">
                        <td>{{participant?.name}}</td>
                        <td>{{getParticipantDateFormatted(participant?.created)}}</td>
                        <td><a (click)="moveToTeam2(participant)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Team2"><i class="fa fa-arrow-right"></i> </a></td>
                        <td><a (click)="resetTeam(participant)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-times"></i> </a></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <div class="col-6">
         <h4 class="centerText">Team 2</h4>
         <div class = "row">
            <div class="col-12">
               <table class = "table table-striped ">
                  <thead class="thead-dark">
                  <tr>
                     <th scope="col">Name</th>
                     <th scope="col">Date Joined</th>
                     <th scope="col">Change</th>
                     <th scope="col">Reset</th>
                  </tr>
                  </thead>
                  <tbody>
                     <tr  *ngFor="let participant of team2Participants" class="col-md-12 col-xl-6">
                        <td>{{participant?.name}}</td>
                        <td>{{getParticipantDateFormatted(participant?.created)}}</td>
                        <td><a (click)="moveToTeam1(participant)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Team1"><i class="fa fa-arrow-left"></i> </a></td>
                        <td><a (click)="resetTeam(participant)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-times"></i> </a></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
   