 
 <div class="container" id="main-container">
 
   <h4 class = "row">Priority Participants</h4>
   <div class = "row">
      
      <table class = "col-md-12 col-xl-6">
         <tr>
            <th>Name</th>
            <th>Date Joined</th>
            <th>Edit</th>
            <th>Delete</th>
         </tr>
         <tr  *ngFor="let participant of priorityParticipants" class="col-md-12 col-xl-6">
            <td>{{participant?.name}}</td>
            <td>{{participant?.created}}</td>
            <td><a (click)="onOpenModal(participant, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a></td>
            <td> <a (click)="onOpenModal(participant, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a></td>
         </tr>
      </table>
   </div>
   
   <h4 class = "row">Non Priority Participants</h4>
   <div class = "row">
      
      <table class = "col-md-12 col-xl-6">
         <tr>
            <th>Name</th>
            <th>Date Joined</th>
            <th>Edit</th>
            <th>Delete</th>
         </tr>
         <tr  *ngFor="let participant of nonPriorityParticipants" class="col-md-12 col-xl-6">
            <td>{{participant?.name}}</td>
            <td>{{participant?.created}}</td>
            <td><a (click)="onOpenModal(participant, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a></td>
            <td> <a (click)="onOpenModal(participant, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a></td>
         </tr>
      </table>
   </div>
 
 
</div>
   