 
 <h4 class="centerText" *ngIf="room?.id == null">
   Room not found!
 </h4>
 
 <div *ngIf="room?.id != null" class="container .bg-primary" id="main-container">



<h4 class="centerText"><b>{{room.name}}</b></h4>
<div class="centerText">Room: {{room.id}}</div>



<participant-add class="col-6" [roomId]="room.id"
         (participantListUpdateEvent)="refetchParticipants($event)">
</participant-add>

   <h4>Search Attending Participants</h4>

<div class = "row">
   <div class="col-6">
      <input type="search" (ngModelChange)="searchParticipants(key.value)" #key="ngModel" ngModel
      name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search participants..." required>
   </div>
</div>
<div class = "row">
   <div *ngIf="searchResults?.length == 0" class="col-6">
      <div class="alert alert-info" role="alert">
        <p>No Participants were found.</p>
      </div>     
 </div>
</div>

<div class ="row"> 
   <div class="col-6">
      <h4 class="centerText">Priority Participants</h4>
      <div class = "row">
         <div class="col-12">
            <table class = " table table-striped ">
               <thead class="thead-dark">
               <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Date Joined</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
               </tr>
               </thead>
               <tbody>
                  <tr  *ngFor="let participant of priorityParticipants" class="col-md-12 col-xl-6">
                     <td>{{participant?.name}}</td>
                     <td>{{getParticipantDateFormatted(participant?.created)}}</td>
                     <td><a (click)="onOpenModal(participant, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a></td>
                     <td> <a (click)="onOpenModal(participant, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="col-6">
      <h4 class="centerText">Non Priority Participants</h4>
      <div class = "row">
         <div class="col-12">
            <table class = " table table-striped ">
               <thead class="thead-dark">
               <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Date Joined</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
               </tr>
               </thead>
               <tbody>
                  <tr  *ngFor="let participant of nonPriorityParticipants" class="col-md-12 col-xl-6">
                     <td>{{participant?.name}}</td>
                     <td>{{getParticipantDateFormatted(participant?.created)}}</td>
                     <td><a (click)="onOpenModal(participant, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a></td>
                     <td> <a (click)="onOpenModal(participant, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>




 
 <!-- Edit Modal -->
 <div class="modal fade" id="updateParticipantModal" tabindex="-1" role="dialog" aria-labelledby="participantEditModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateParticipantModalLabel">Edit Participant {{editParticipant?.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" ngModel="{{editParticipant?.name}}" name="name" class="form-control" id="name" aria-describedby="name" placeholder="Name">
               </div>
               <div class="form-group">
                  <label for="priority">Has Priority</label>
                  <input type="checkbox" ngModel="{{editParticipant?.priority}}" name="priority" class="form-control" id="priority" aria-describedby="priority" placeholder="Priority">
               </div>
               <div class="form-group">
                  <input type="hidden" ngModel="{{editParticipant?.id}}" name="id" class="form-control" id="id" placeholder="Id">
                  <input type="hidden" ngModel="{{editParticipant?.created}}" name="created" class="form-control" id="created" placeholder="Created">
                  <input type="hidden" ngModel="{{editParticipant?.team}}" name="team" class="form-control" id="team" placeholder="Team">
                  <input type="hidden" ngModel="{{editParticipant?.rating}}" name="rating" class="form-control" id="rating" placeholder="Rating">
                  <input type="hidden" ngModel="{{editParticipant?.roomId}}" name="roomId" class="form-control" id="roomId" name="roomId" placeholder="RoomId">
               </div>
                <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateParticipant(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
 </div>
  



 
 <!-- Delete Modal -->
 <div class="modal fade" id="deleteParticipantModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Participant</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete participant {{deleteParticipant?.name}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button (click)="onDeleteParticipant(deleteParticipant?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>
 </div>
 </div>
